@model IEnumerable<KhoHang_XNK.Models.ChiTietDonXuat>

@{
    ViewData["Title"] = "Chi Tiết Đơn Xuất Hàng";
}

<h2 class="text-center text-primary">Chi Tiết Đơn Xuất Hàng</h2>
<hr />

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Mã Đơn Xuất</th>
            <th>Ngày Xuất</th>
            <th>Tên Sản Phẩm</th>
            <th>Số Lượng</th>
            <th>Giá Bán</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DonXuatHang.MaDonXuat</td>
                <td>@item.DonXuatHang.NgayXuat.ToString("dd/MM/yyyy")</td>
                <td>@item.HangHoa.TenHangHoa</td>
                <td>@item.SoLuong</td>
                @* <td>@item..ToString("N0") đ</td> *@
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
